<p class="note private">
  <strong><%= _("This %{type} is part of a private API.") % {:type => object.type} %></strong> 
  <%= _("You should avoid using this %{type} if possible, as it may be removed or be changed in the future.") % {:type => object.type} %>
</p>
